.body-1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.google-logo{
    text-align: center;
    margin-bottom: 20px;
}

.input-submit{
    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 750px){
    .input-text{
   
    /* border: 5px solid goldenrod; */
    width: 100%;
    border-radius: 24px;
    padding: 5px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    margin: 0 auto;
    background: #fff; 
    
    }
}
@media (min-width: 750px){
    .input-text{
       
        /* border: 5px solid red; */
        border-radius: 24px;
        padding: 5px;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        margin: 0 auto;
        background: #fff; 
        width: 548px;
        height: 44px;
    }
}


.upper-right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}


.upper-right a:first-child{
    margin-right: 10px;
}


.T8VaVe{
    margin-left: 230px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap ;
}

.google-logo .T8VaVe {
    position: relative;
    top: -20px; /* Adjust this value as needed to move the text up */
}

.f-10{
    font-size: 10px;
}

.f-11{
   font-size: 11px;
    color: #555555;
    font-family: arial,sans-serif;
}


.f-13{
    font-size: 13px;
}


.f-15{
    font-size: 15px;
}


.span1{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}


.as{
    color: #D93025;
    font-size: 20px;
    font-family: arial,sans-serif;
}





@media (max-width: 1056px) {
    #elementToHide {
        display: none;
    }
}


.container .col-2{
    /* border: 10px solid black; */
    white-space: nowrap;

}





